rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Public read
    match /tournaments/{tournamentId} {
      allow read: if true;

      // Matches are public read
      match /matches/{matchId} {
        allow read: if true;

        // Writes only for signed-in scorers/admins
        allow create, update, delete: if request.auth != null;
      }
    }
  }
}
